/*****************************
            FONTS
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Modak', cursive;
******************************/

.index-background {
  background-image: url("../images/NiceRide_553a-2.jpg");
  /* background-image: url("../images/Minneapolis_on_Mississippi_River.jpg"); */
  background-size: cover;
}

.team-background {
  background-image: url("../images/NiceRide_544a-2.jpg");
  /* background-image: url("../images/Minneapolis_on_Mississippi_River.jpg"); */
  background-size: cover;
}

.disclosure-background {
  background-image: url("../images/NiceRide_300a-3.jpg");
  /* background-image: url("../images/Minneapolis_on_Mississippi_River.jpg"); */
  background-size: cover;
}

.container {
  font-family: "Modak", cursive;
  opacity: 0.94;
}

.card {
  border-radius: 20px;
  margin-top: 40px;
}

.btn {
  margin-top: 10px;
}

.jumbotron {
  font-family: "Modak", cursive;
  font-size: 5em;
  margin-top: 30px;
  border-radius: 30px;
}

.form-control,
.btn {
  font-family: "Roboto Condensed", sans-serif;
}

.card-header {
  text-align: center;
  font-size: 2.5em;
  border-radius: 30px;
}

.card-footer {
  text-decoration: none;
  color: orange;
  background-color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.card-footer,
a {
  display: -moz-popup;
  font-family: "Roboto Condensed", sans-serif;
}

#beer {
  height: 75px;
  width: 75px;
}

p,
.about_me {
  font-size: 1em;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.disclosure {
  text-align: left;
  padding: 25px;
}

.contactaboutme {
  font-family: "Modak", cursive;
  text-align: center;
  margin: 10px 20px;
  font-size: 5em;
  align-content: center;
  align-items: center;
}

.namecard {
  align-content: center;
  align-items: center;
  margin-top: 40px;
}

img {
  width: 200px;
  height: 200px;
}

.brewery-row {
  cursor: pointer;
  padding: 10px;
}

.results {
  margin-bottom: 20px;
}

.table thead th {
  border-top: 1px solid transparent;
}
